@model List<BookCave.Models.ViewModels.AuthorListViewModel>

<div>
    <h1>Authors</h1>
    @foreach(var Author in @Model)
    {
        <div>
            <p>Name: @Author.Name</p>
            <p>Born: @Author.BirthDate</p>
            <p>Details: @Author.Details</p>
        </div>
    }
</div>