@model List<BookCave.Models.ViewModels.AuthorListViewModel>

<div class="jumbotron">
    <h1>Höfundar</h1>
    <p>Hér má finna alla þá höfunda sem eiga bækur í versluninni!</p>
    @foreach(var Author in @Model)
    {
        <div>
            <h3><a asp-controller="Author" asp-action="Details" asp-route-id="@Author.Id">@Author.Name</a></h3>
        </div>
    }
</div>