@model List<BookCave.Models.ViewModels.AuthorListViewModel>

<div>
    <h1>Höfundar</h1>
    @foreach(var Author in @Model)
    {
        <div>
            <h2>@Author.Name</h2>
            <p>Fæddur: @Author.BirthDate</p>
            <p>Upplýsingar: @Author.Details</p>
            <br>
        </div>
    }
</div>