@model List<BookCave.Models.ViewModels.AuthorListViewModel>

<div>
    <h1>Höfundar</h1>
    @foreach(var Author in @Model)
    {
        <div>
            <h3><a asp-controller="Author" asp-action="Details" asp-route-id="@Author.Id">@Author.Name</a></h3>
        </div>
    }
</div>