body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#comment-container {
    width: 300px;
}

#user-image {
    height: 150px;
    width: 150px;
}
<<<<<<< HEAD
#search{
    margin: auto;
    margin-top: 10px;
    max-width: 300px;
}
=======
>>>>>>> d4692ac39a5cf214312715f1ceabfe9ed9c91dd1
