body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 15px;
}

#comment-container {
    width: 300px;
}

#user-image {
    height: 150px;
    width: 150px;
}
#search{
    margin: auto;
    margin-top: 10px;
    max-width: 300px;
}

.carousel, .carousel2 {
    height: 400px;
    margin-bottom: 80px;
    width: 100%;
    background-color: #f0f0f0;
}
/* Declare heights because of positioning of img element */

#carou-a-item, #carou-item {
    height: 300px;
    width: 300px;
}

.carousel-inner > .item > img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 25%;
      height: 300px;
      display: inline-block;
  }


  /* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
    transform: translateX(-33%);
  }
  .carousel-inner .item.right.active {
    transform: translateX(33%);
  }
  
  .carousel-inner .item.next {
    transform: translateX(33%)
  }
  .carousel-inner .item.prev {
    transform: translateX(-33%)
  }
  
  .carousel-inner .item.right,
  .carousel-inner .item.left { 
    transform: translateX(0);
  }
  
  
  .carousel-control.left,.carousel-control.right {background-image:none;}
  
  .left-column {
    width: 35%;
    position: relative;
    margin-top: 60px;
  }
  #left-book-details {
    width: 65%;
    position: relative;
    margin-top: 60px;
  }
   
  .right-column {
    width: 65%;
    margin-top: 60px;
  }
  #right-book-details {
    width: 35%;
    margin-top: 60px;

  }

  #author-container, #book-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  #author-books, #books-comment{
      height: 80px;
      width: 80px;
  }
  #author-image {
      height: 240px;
      width: 240px;
  }
  #cover-image {
      float: left;
      padding: 10px;
  }

  #list-row {
      display: flex;
  }
  .column {
    width: 33.33%;
    padding: 5px;
  }

  #book-cover-images {
      width: 200px;
      height: 200px;
  }

  #orderTotal {
      visibility: hidden;
  }