@model List<BookCave.Models.ViewModels.CartViewModel>

<h1>YOUR BASKETTTTTTTTT</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>
    @foreach(var Item in @Model)
    {
        <tr>
            <td>@Item.Id</td>
            <td>@Item.Title</td>
            <td>@Item.Price</td>
            <td><a href="@Url.Action("Remove", "Cart")?bookId=@Item.Id">Eyða</a></td>
        </tr>
    }
</table>
<a asp-action="Checkout" asp-controller="Order" class="btn btn-info">Ganga frá körfu</a>