@model BookCave.Models.ApplicationUser
<h1>Minn aðgangur</h1>
<<<<<<< HEAD
<div id="edit-account">
    <a href="/Account/Edit" class="btn btn-info">Breyta upplýsingum</a>
    <a href="/Account/OrderHistory" class="btn btn-info">Pöntunarsaga</a>
=======
<div>
    <a href="/Account/Edit">Breyta upplýsingum</a>
</div>
<div>
    <a href="/Order/Index">Pöntunarsaga</a>
>>>>>>> a8024b42b1638f654f7077e7f2e563cc64d7ede6
</div>
<div>
    <h3>@Model.Name</h3>
</div>
<div>
    <h3><strong>Heimilsfang: </strong>@Model.Address</h3>
</div>
<div>
    <h3><strong>Uppáhalds bók: </strong>@Model.FavoriteBook</h3>
</div>
<div>
    <img id="user-image" src="~/images/user.jpg" alt="User image">
</div>

