@model BookCave.Models.ApplicationUser
<h1>Minn aðgangur</h1>
<div id="edit-account">
    <a href="/Account/Edit" class="btn btn-info">Breyta upplýsingum</a>
    <a href="/Account/OrderHistory" class="btn btn-info">Pöntunarsaga</a>
</div>
<div>
    <h3>@Model.Name</h3>
</div>
<div>
    <h3><strong>Heimilsfang: </strong>@Model.Address</h3>
</div>
<div>
    <h3><strong>Uppáhalds bók: </strong>@Model.FavoriteBook</h3>
</div>
<div>
    <img id="user-image" src="~/images/user.jpg" alt="User image">
</div>

