@model BookCave.Models.ViewModels.RegisterViewModel

<h1>Búa til aðgang</h1>
<form asp-action="Register" asp-controller="Account" class="form-horizontal">
    <div class="form-group">
        <label for="Email">Netfang</label>
        <input type="email" asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span><br>
    </div>
    <div class="form-group">
        <label for="Username">Notendanafn</label>
        <input type="text" asp-for="Username" class="form-control">
        <span asp-validation-for="Username"></span><br>
    </div>
    <div class="form-group">
        <label for="Password">Lykilorð (minnst 6 stafir)</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        <p id="passwordLengthMessage"></p>
        <span asp-validation-for="Password"></span><br>
    </div>
    <div class="form-group">
        <label for="Password">Lykilorð aftur</label>
        <input type="password" asp-for="Password" class="form-control" id="passwordAgain">
        <span asp-validation-for="Password"></span><br>
    </div>
    <div class="form-group">
        <label for="Name">Fullt nafn</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div>
        <div id="checkPasswordMatch"></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Staðfesta og innskrá</button>
    </div>
</form>