<div>
    <h2>Create a new book</h2>
    <form asp-controller="Create" asp-action="Create" method="post">
        <input type="text" placeholder="Titill bókar" name="title">
        <input type="number" placeholder="Útgáfu ár" name="year">
        <input type="number" placeholder="Einkunn" name="rating">
        <input type="text" placeholder="Höfundur" name="author">
        <input type="text" placeholder="ISBN" name="isbn">
        <input type="text" placeholder="Netslóð á mynd af bók" name="coverImage">
        <button type="submit">Bæta við</button>
    </form>
</div>

