@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<form action="" method="">
    <input type="text" placeholder="Leitaðu að bók með nafni eða höfund">
    <button type="submit">Leita</button>
</form>

<div>
    @foreach(var Books in @Model)
    {
        <p>Title: @Books.Title</p>
        <p>Released: @Books.ReleaseYear</p>
        <p>Rating: @Books.Rating</p>
        <p>Author: @Books.Author</p>
    }
</div>