@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "The Book Cave";
}

<div class="jumbotron">
    <h1>Velkomin/n í <strong>The Book Cave</strong></h1>
    <p>Hjá okkur getur þú verslað allar vinsælustu bækur heimsins!</p>
    <p><strong>Athugið!</strong> Frí heimsending!</p>
</div>
<div class="container">
  <h2>10 vinsælustu bækur <strong>The Book Cave</strong></h2>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      @for(int i = 0; i <= 10; i++)
      {
        @foreach (var Book in Model.Skip(i*1).Take(1))
        {
            @if(i == 0)
            {
                <div class="item active" id="item-active">
                  <div class="col-md-4">
                     <a asp-controller="Book" asp-action="Details" asp-route-id="@Book.Id"> <img src="@Book.CoverImage" alt="CoverImage" id="carou-a-item"></a>
                  </div>
                </div>
            }
            else
            {
                <div class="item">
                  <div class="col-md-4">
                     <a asp-controller="Book" asp-action="Details" asp-route-id="@Book.Id"> <img src="@Book.CoverImage" alt="CoverImage" id="carou-item"></a>
                  </div>
                </div> 
            }
        }
      }
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>