@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if(SignInManager.IsSignedIn(User))
{
    <form asp-action="LogOut" asp-controller="Account" method="POST">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-action="Index" asp-controller="Wishlist">Óskalisti</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Order">Pantanir</a>
            </li>
            <li>
                <a asp-area="" asp-action="Profile" asp-controller="Account"> @claim</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link"> <span class="glyphicon glyphicon-log-out"></span>Útskrá</button>
            </li>
        </ul>
    </form>
}
else 
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register"> <span class="glyphicon glyphicon-user"></span> Búa til aðgang</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login"> <span class="glyphicon glyphicon-log-in"></span> Innskráning</a>
        </li>
    </ul>
}