@model List<BookCave.Models.ViewModels.CategoriesListViewModel>

@foreach(var Category in @Model)
    {
    <div>
        <h2><a asp-controller="Book" asp-action="Category" asp-route-id="@Category.Id">@Category.CategoryName</a></h2>
    </div>
}
