@model BookCave.Models.ViewModels.BookListViewModel

<div>
    <h2>@Model.Title</h2>
    <p>Útgáfuár: @Model.ReleaseYear</p>
    <p>Einkunn: @Model.Rating</p>
    <p>Höfundur: @Model.Author</p>
</div>