@model List<BookCave.Models.ViewModels.BookListViewModel>

<div>
    <h1>Top 5</h1>
    @foreach(var Books in Model)
    {
        <p>Title: @Books.Title</p>
        <p>Released: @Books.ReleaseYear</p>
        <p>Rating: @Books.Rating</p>
        <p>Author: @Books.Author</p>
    }
</div>